* {
  margin:2%;
  padding:0;
  font-family:serif;
  background-color:tomato;
}

.head {
  font-size:1.3rem;
  text-align:center;
  text-decoration:underline;
  text-shadow:5px 1px 3px blue;
  color:white;
}

form {
  background-color:white;
  height:500px;
}

form > h1 {
  background-color:white;
  color:black;
  text-align:center;
}

#number {
  display:block;
  margin-right:auto;
  margin-left:auto;
  height:8%;
  font-size:20px;
  color:white;
}

#temp_diff {
  display:block;
  margin-right:auto;
  margin-left:auto;
  background-color:black;
  color:white;
  height:8%;
  width:20%;
  font-size:20px;
}

#submit {
  display:block;
  margin-right:auto;
  margin-left:auto;
  height:8%;
  width:20%;
  font-size:25px;
  color:white;
}

strong {
  color:blue;
  background-color:white;
  font-size:30px;
  display:block;
  margin-right:auto;
  margin-left:45%;
}

/*for responsive website*/
@media (max-width:500px) {

  * {
    background-color:tomato;
  }

  form > h1 {
    font-size:1.5rem;
  }
}

@media (min-width:500px) and (max-width:650px) {

  * {
    background-color:tomato;
  }

  form > h1 {
    font-size:1.55rem;
  }
}

@media (max-width:480px) {

  .head {
    font-size:1rem;
  }
}
